@media (min-width: 450px) {

    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 30px;
    }
    
    .section1{
        margin-top: 20px;
        grid-column: 1 / 3; 
    }
    .section4{
        grid-column: 2 / 4;
    }
    .section5{
        grid-row: 1 / 3;
        grid-column: 4 ;
        
    }
    .section3{
        grid-column: 1 / 1;
        grid-row: 2 ;
    }
    .attribution{
       grid-row: 3;
       grid-column: 2 / 4;
    }
    .next{
        grid-row: 3;
        grid-column: 4 / 5;
    }
    .next a{
        text-decoration: none;
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: hsl(263, 51%, 35%);
    }
}
